:root {
  /* Colors from style guide */
  --clr-gradient-start: hsl(237, 73%, 79%);
  --clr-gradient-end: hsl(238, 63%, 64%);
  --clr-blue-50: hsl(240, 78%, 98%);
  --clr-gray-650: hsl(233, 13%, 49%);
  --clr-gray-700: hsl(232, 13%, 33%);
  --clr-white: hsl(0, 0%, 100%);

  /* Typography */
  --ff-primary: "Montserrat", sans-serif;

  --fs-3xl: 4.5rem;
  --fs-2xl: 2.5rem;
  --fs-xl: 2rem;
  --fs-lg: 1.125rem;
  --fs-base: 0.9375rem;
  --fs-sm: 0.8125rem;

  --fw-regular: 700;

  --ls-wide: 0.1em;
  --ls-tight: -0.03em;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;

  /* Border radius */
  --radius-sm: 0.3125rem;
  --radius-md: 0.625rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  text-align: center;
  padding: var(--space-md);
  background-color: var(--clr-blue-50);
  color: var(--clr-gray-700);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style: none;
}
