---
import PricingWithToggle from "@components/pricing-with-toggle.svelte";
import RootLayout from "@layouts/root.astro";
---

<RootLayout title="Pricing Component with Toggle">
  <main>
    <h1>Our Pricing</h1>
    <PricingWithToggle client:load />
  </main>
</RootLayout>

<style>
  main {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
  }

  h1 {
    font-size: var(--fs-xl);
    color: var(--clr-gray-700);
    margin-bottom: var(--space-xl);
    text-align: center;
  }

  @media (min-width: 768px) {
    main {
      padding-inline: var(--space-xl);
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 2.5rem;
    }
  }
</style>
