---
import PricingWithToggle from "@components/pricing-with-toggle.svelte";
import RootLayout from "@layouts/root.astro";
---

<RootLayout title="Pricing Component with Toggle">
  <h1>Our Pricing</h1>
  <PricingWithToggle client:load />
</RootLayout>

<style>
  h1 {
    font-size: var(--fs-xl);
  }
</style>
